@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 58px;
    --text: 6 9 8;
    --background: 245 250 249;
    --primary: 66 189 160;
    --secondary: 148 230 211;
    --accent: 93 234 201;

    --green: 9 170 62;
    --red: 194 26 10;
    --blue: 11 110 208;
    --cyan: 4 170 194;
    --yellow: 229 172 0;
    --pink: 229 25 60;
    --gray: 128 128 128;
  }
  .dark {
    --text: 246 249 248;
    --background: 10 15 14;
    --primary: 66 189 160;
    --secondary: 25 107 88;
    --accent: 21 162 129;
  }
}

@layer components {
  .nav-padding {
    @apply pb-[var(--nav-height)] md:pb-0;
  }
  .bg-gradient {
    @apply bg-gradient-to-tr from-colors-primary to-colors-accent;
  }
}

html {
  height: 100%;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: block;
  height: 6px;
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.3);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.4);
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.5);
}
